.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f3f4f6;
}

.form {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 10px;
}

.login-form button {
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
}