.layout {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.content {
  flex: 1;
  min-width: 0;
}

.main {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .layout {
    display: block;
  }

  .content {
    width: 100%;
  }
}